@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Catamaran:700');


body {
    width: 60vw;
    text-align: center;
    position: relative;
    height: 100%S;
    left: 50%;
    transform: translateX(-50%);
}

.main {
    padding-top: 10vh;
margin: auto;
}

h1 {
    font-family: 'Catamaran', sans-serif;
    font-size: 3em;
}

.green {
    color: #99cc99;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #999999;
    font-size: 1.1em
}

svg {
    width: 3.5em;
    fill: #999999;
}

svg:hover {
    fill: #99cc99;
}
